@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// colors
$teal: #17a2b8;
$gradient-aqua-to-navi: linear-gradient(to right, #30CFD0 0%, #330867 100%);
$gradient-teal-to-aqua: linear-gradient(to right, rgba(23,163,184,1) 0%, rgba(45,203,224,1) 25%,
        rgba(51,190,214,1) 52%, rgba(126,220,232,1) 76%, rgba(23,163,184,1) 100%);

//fonts
$ff-open-sans: 'Open Sans', sans-serif;