<div class="container">
    <div class="d-flex flex-column mt-3">
        <form>
            <div class="input-group">
                <input class="form-control"
                       placeholder="Find the employee"
                       [formControl]="filter"/>
                <span class="ml-3 input-group-btn">
                    <button class="btn btn-success" (click)="open()">
                        <fa-icon [icon]="fa.plus"></fa-icon>&nbsp; Employee
                    </button>
                </span>
            </div>
        </form>
        <div class="d-flex justify-content-center mt-4">
            <ngb-pagination
                    [collectionSize]="table.total" [(page)]="table.page" [pageSize]="table.limit"
                    (pageChange)="updatePage($event)">
            </ngb-pagination>
        </div>
        <div class="table-responsive-lg">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let idx = index">
                        <td><ngb-highlight [result]="employee.full_name"></ngb-highlight></td>
                        <td><ngb-highlight [result]="employee.position"></ngb-highlight></td>
                        <td><ngb-highlight [result]="employee.salary | number:'1.2-2'"></ngb-highlight></td>
                        <td><ngb-highlight [result]="employee.date_of_birth | date"></ngb-highlight></td>
                        <td>
                            <button (click)="open(employee)" class="btn btn-success">
                                <fa-icon [icon]="fa.edit"></fa-icon>
                            </button>
                            <button (click)="delete(employee.id)" class="ml-md-2 btn btn-danger">
                                <fa-icon [icon]="fa.remove"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!employees.length" class="text-center">
            <div>There are no employees yet.</div>
        </div>
    </div>
</div>