<div class="container">
    <div class="d-flex flex-column mt-3">
           <div class="input-group">
               <input class="form-control"
                      placeholder="Find the employee"
                      [(ngModel)]="table.search" (ngModelChange)="search($event)" />
               <span class="ml-3 input-group-btn">
                   <button class="btn btn-success" (click)="edit()">
                       <fa-icon [icon]="fa.plus"></fa-icon>&nbsp; Employee
                   </button>
               </span>
           </div>
           <div class="d-flex justify-content-center mt-4">
            <ngb-pagination
                    [collectionSize]="table.total" [(page)]="table.page" [pageSize]="table.limit"
                    (pageChange)="updatePage($event)">
            </ngb-pagination>
        </div>
        <alert></alert>
        <div class="table-responsive-lg">
            <table class="table employee-table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees; let idx = index">
                        <td>{{ (idx+1)+table.limit*(table.page-1) }}</td>
                        <td>{{ employee.full_name }}</td>
                        <td>{{ employee.position.name }}</td>
                        <td>{{ employee.salary | number:'1.2-2' }}</td>
                        <td>{{ employee.date_of_birth | date }}</td>
                        <td>
                            <button (click)="edit(employee)" class="btn btn-success">
                                <fa-icon [icon]="fa.edit"></fa-icon>
                            </button>
                            <button (click)="delete(employee.id)" class="ml-2 btn btn-danger">
                                <fa-icon [icon]="fa.remove"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!employees.length" class="text-center">
            <div>There are no employees yet.</div>
        </div>
    </div>
</div>