<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Employee Data</h5>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" id="employeeForm">
            <div class="form-group">
                <label for="full_name">Full Name</label>
                <input type="text" class="form-control"
                       id="full_name" placeholder="Full Name"
                       formControlName="full_name"
                       [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }" />
                <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                    <div *ngIf="f.full_name.errors.required">Full Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Sex</label>
                <div class="form-group">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="sex">
                        <label ngbButtonLabel class="btn-outline-dark">
                            <input ngbButton type="radio" [value]="false"> Male
                        </label>
                        <label ngbButtonLabel class="btn-outline-dark">
                            <input ngbButton type="radio" [value]="true"> Female
                        </label>
                    </div>
                    <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
                        <div *ngIf="f.sex.errors.required">Sex is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="date_of_birth">Date of Birth</label>
                <div class="input-group">
                    <input class="form-control" placeholder="YYYY-MM-DD"
                           ngbDatepicker
                           id="date_of_birth"
                           formControlName="date_of_birth"
                           [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }"
                           [minDate]="limits.min"
                           [maxDate]="limits.max"
                           [dayTemplate]="customDay"
                           [markDisabled]="isDisabled" #d="ngbDatepicker"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <fa-icon [icon]="faCalendarDay"></fa-icon>
                        </button>
                    </div>
                    <div *ngIf="submitted && f.date_of_birth.errors" class="invalid-feedback">
                        <div *ngIf="f.date_of_birth.errors.required">Date of Birth is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" class="form-control"
                       id="salary" placeholder="Salary"
                       formControlName="salary"
                       [ngClass]="{ 'is-invalid': submitted && f.salary.errors }">
                <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
                    <div *ngIf="f.salary.errors.required">Salary is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <input type="text" class="form-control"
                       id="position" placeholder="Position"
                       formControlName="position"
                       [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
                <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                    <div *ngIf="f.position.errors.required">Position is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="contact_information">Contact Information</label>
                <textarea class="form-control" id="contact_information"
                          placeholder="Contact Information"
                          formControlName="contact_information"
                          [ngClass]="{ 'is-invalid': submitted && f.contact_information.errors }"
                >
                </textarea>
                <div *ngIf="submitted && f.contact_information.errors" class="invalid-feedback">
                    <div *ngIf="f.contact_information.errors.required">Contact Information is required</div>
                </div>
            </div>
            <div class="form-group" *ngIf="employee.created">
                <span class="text-primary">Registered: {{ employee.created | date }}</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark"
                form="employeeForm">Submit</button>
    </div>
</div>

<ng-template #customDay let-date let-currentMonth="currentMonth"
             let-selected="selected"
             let-disabled="disabled"
             let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>